{% extends ":default:admin.html.twig" %}

{% block content %}


    <h1>crée une question</h1>

    {{ form_start(form) }}
    <hr>

    <hr>
    {{ form_end(form) }}
    <hr>

    <br>
    <br>

    <ul>
        <li>
            <a href="{{ path('manager_articles_index') }}">retour a la liste </a>
        </li>
    </ul>



{% endblock %}
