
<link rel="stylesheet" href="{{ asset('bundles/user/css/css.css') }}">

    <div class="login">
<div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front" tabindex="-1" role="dialog" aria-describedby="dialog_form" aria-labelledby="ui-id-1" style="height: auto; width: 420px; top: 88.5px; left: 461px; display: block;">
    <div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix">
        <span id="ui-id-1" class="ui-dialog-title">Login</span>

    </div>
    <div id="dialog_form" showout="showOut" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 0 ; max-height: none; height: 382px;">

        <div class="clearfix" id="login_dialog">

            <div class="main sign_dialog" style="height:350px;">
                <form class="register" target="xajax" name="form" id="form" method="post">
                    <fieldset>
                        <div class="fullin_bg clearfix">
                            <div class="user">
                                <input type="text" class="text username" id="dialog_username" name="username" value="" placeholder="Username/Email" data-state="1">
                                {{ 'security.login.username'|trans }}
                                <input type="text" id="username" name="_username" value="{{ last_username }}" required="required" />
                                <p class="info_con">

                                </p>
                                <span class="showIco">

                                </span>
                            </div>
                            <div class="password">
                                <input type="password" class="text userpass" id="dialog_password" name="password" placeholder="Password" value="" data-state="1">
                                <p class="info_con">

                                </p>
                                <span class="showIco">

                                </span>
                            </div>
                        </div>

                        <div class="cbox">
                            <label for="c1">
                       <span id="check_agree" class="check_agree">
                           <span class="agreen"><input type="checkbox" checked="checked"></span>
   Remember me   &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

                           <a href="#" target="_blank" id="forget_word">Forgot password</a>
                       </span>
                            </label>
                        </div>

                        <input class="sub_btn play sub_login_btn"   title="Login" type="button" value="Log In">
                    </fieldset>
                </form>
                <div class="login_with">
                    <div class="login_new">
               <span>Don't have an account?  &nbsp;&nbsp;<a href=""   dialog_type="Sign Up" title="Sign Up" class="show_form">
                       Sign up now!</a>&nbsp;
               </span>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
    </div>
</form>



