{% extends "::base.html.twig" %}
{% block body %}
<body class="subpage">
<div id="main">

    <div class="top1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="top1_inner clearfix">
                        <div class="top1_inner_bg"></div>
                        <header><div class="logo_wrapper"><a href="index.html" class="logo"><img class="llogo" src="images/logo.png" alt=""></a></div></header>
                        <div class="navbar navbar_">
                            <div class="navbar-inner navbar-inner_">
                                <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                <div class="nav-collapse nav-collapse_ collapse">
                                    <ul class="nav sf-menu clearfix">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="index-1.html">About Us</a></li>
                                        <li class="active sub-menu sub-menu-1"><a href="index-2.html">Products</a>
                                            <ul>
                                                <li><a href="404.html">404 page not found</a></li>
                                                <li class="sub-menu sub-menu-2"><a href="index-2.html">specials</a>
                                                    <ul>
                                                        <li><a href="404.html">404 page not found</a></li>
                                                        <li><a href="index-2.html">sit amet</a></li>
                                                        <li><a href="index-2.html">adipiscing elit</a></li>
                                                        <li><a href="index-2.html">nunc suscipit</a></li>
                                                        <li><a href="404.html">404 page not found</a></li>
                                                    </ul>
                                                </li>
                                                <li class="sub-menu sub-menu-2"><a href="index-2.html">price list</a>
                                                    <ul>
                                                        <li><a href="index-2.html">lorem ipsum dolor</a></li>
                                                        <li><a href="index-2.html">sit amet</a></li>
                                                        <li><a href="index-2.html">adipiscing elit</a></li>
                                                        <li><a href="index-2.html">nunc suscipit</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li><a href="index-3.html">Services</a></li>
                                        <li><a href="index-4.html">Projects</a></li>
                                        <li><a href="index-5.html">Contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="breadcrumbs1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="breadcrumbs1_inner"><a href="index.html">home page</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;404</div>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span12">

                    <h1>SORRY!</h1>

                    <div class="row">
                        <div class="span7">
                            <div class="page-404">
                                <p class="txt1">404</p>
                                <p class="txt2">PAGE NOT FOUND</p>
                            </div>
                        </div>
                        <div class="span5">
                            <p>
                                Nulla pharetra dignissim enim. Nam cursus eros ut massa. Proin rutrum. Donec non urna non leo aliquam cursus. Vivamus ornare viverra lacus. Fusce id sapien. Donec rhoncus, enim sit amet sodales elementum, elit odio sagittis erat, at tincidunt leo neque non pede. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos hymenaeos. Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Mauris ac leo. Aliquam magna nibh, tincidunt ut, lobortis feugiat, consectetuer sed, sapien. Aenean dui eros, tempus non, pulvinar in, vestibulum sed, urna. Nullam eget arcu a pede adipiscing vestibulum. Donec accumsan lacus nec dolor. Etiam porttitor elit. Quisque suscipit, arcu id porttitor vehicula, sem eros congue nulla, id consequat massa diam at dui. Quisque quis massa. Suspendisse metus justo, pellentesque et, sagittis sit amet, consectetuer imperdiet, sapien. Nullam eu neque eget risus porttitor accumsan. Vivamus cursus pretium tortor.
                            </p>
                            <p>
                                The page you are looking for might have been removed, had its name changed, or is temporarily unavailable.
                            </p>
                            <p>
                                Please try using our search box below to look for information on the website
                            </p>
                            <div class="search-form-wrapper clearfix">
                                <form id="search-form" action="search.php" method="GET" accept-charset="utf-8" class="navbar-form clearfix" >
                                    <input type="text" name="s" value='Search' onBlur="if(this.value=='') this.value='Search'" onFocus="if(this.value =='Search' ) this.value=''">
                                    <a href="#" onClick="document.getElementById('search-form').submit()"></a>
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>



    <div class="slogan1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="slogan1_inner clearfix">
                        <div class="row">
                            <div class="span8">
                                <div class="block1">
                                    <div class="txt1">Have Questions? <span>Call uS: 1 800 123 4567</span></div>
                                    <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut</div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="block2">
                                    <a href="#" class="button1">request free quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="follow1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="follow1_wrapper clearfix">
                        <div class="follow1_inner clearfix">
                            <div class="block1">follow us and become our fan on</div>
                            <div class="block2"></div>
                            <div class="block3">
                                <div class="social_wrapper">
                                    <ul class="social clearfix">
                                        <li><a href="#"><img src="images/social_ic1.png"></a></li>
                                        <li><a href="#"><img src="images/social_ic2.png"></a></li>
                                        <li><a href="#"><img src="images/social_ic3.png"></a></li>
                                        <li><a href="#"><img src="images/social_ic4.png"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bot1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="bot1_inner">
                        <div class="row">
                            <div class="span3">

                                <div class="block_title">information</div>

                                <ul class="ul0">
                                    <li><a href="#">Quisque nullatibulum libero</a></li>
                                    <li><a href="#">Scelerisque eget, malesuada at</a></li>
                                    <li><a href="#">Vivamus eget niiam cursus leo</a></li>
                                    <li><a href="#">Nulla facilisinean nec eros</a></li>
                                    <li><a href="#">Vestibulum ante ipsum</a></li>
                                    <li><a href="#">Primis in faucib</a></li>
                                </ul>

                            </div>
                            <div class="span3">

                                <div class="block_title">support</div>

                                <ul class="ul0">
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">Sit amet consectetue</a></li>
                                    <li><a href="#">Adipiscing elit</a></li>
                                    <li><a href="#">Nunc suscipit</a></li>
                                    <li><a href="#">Suspendisse enim arcu</a></li>
                                </ul>

                            </div>
                            <div class="span3">

                                <div class="block_title">downloads</div>

                                <ul class="ul0">
                                    <li><a href="#">Convallis non cursus sed</a></li>
                                    <li><a href="#">Dignissim et est</a></li>
                                    <li><a href="#">Aenean semper</a></li>
                                    <li><a href="#">Aliquet libero</a></li>
                                    <li><a href="#">Lorem</a></li>
                                </ul>

                            </div>
                            <div class="span3">

                                <div class="block_title">getting started</div>

                                <div class="phone1">
                                    <div class="txt1">Have Questions? Call Us:</div>
                                    <div class="txt2">1 800 123 456</div>
                                </div>

                                <ul class="ul0">
                                    <li><a href="#">Our Location</a></li>
                                    <li><a href="#">Find an Agent</a></li>
                                </ul>

                            </div>
                        </div>
                        <footer>
                            <div class="copyright"><a href="#">Privacy policy</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://gridgum.com/themes/category/free/">Free Bootstrap Themes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Copyright © 2017. All rights reserved</div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>









</div>

</body>
{% endblock %}
