<!DOCTYPE html>
<html lang="en">
<head>
    <title>services</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
    <link rel="icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />

    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/bootstrap-responsive.css" type="text/css" media="screen">
    <link rel="stylesheet" href="css/style.css" type="text/css" media="screen">

    <script type="text/javascript" src="js/jquery.js"></script>
    <script type="text/javascript" src="js/jquery.easing.1.3.js"></script>
    <script type="text/javascript" src="js/superfish.js"></script>

    <script type="text/javascript" src="js/jquery.ui.totop.js"></script>
    <script>
        $(document).ready(function() {
            //



        }); //
        $(window).load(function() {
            //

        }); //
    </script>
    <!--[if lt IE 8]>
    <div style='text-align:center'><a href="https://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg"border="0"alt=""/></a></div>
    <![endif]-->

    <!--[if lt IE 9]>
    <script src="https://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <link rel="stylesheet" href="css/ie.css" type="text/css" media="screen">
    <![endif]-->
</head>

<body class="subpage">
<div id="main">

    <div class="top1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="top1_inner clearfix">
                        <div class="top1_inner_bg"></div>
                        <header><div class="logo_wrapper"><a href="index.html" class="logo"><img class="llogo" src="http://via.placeholder.com/112x40" alt=""></a></div></header>
                        <div class="navbar navbar_">
                            <div class="navbar-inner navbar-inner_">
                                <a class="btn btn-navbar btn-navbar_" data-toggle="collapse" data-target=".nav-collapse_">
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </a>
                                <div class="nav-collapse nav-collapse_ collapse">
                                    <ul class="nav sf-menu clearfix">
                                        <li><a href="index.html">Home</a></li>
                                        <li><a href="index-1.html">About Us</a></li>
                                        <li class="sub-menu sub-menu-1"><a href="index-2.html">Products</a>
                                            <ul>
                                                <li><a href="index-2.html">what we offer</a></li>
                                                <li class="sub-menu sub-menu-2"><a href="index-2.html">specials</a>
                                                    <ul>
                                                        <li><a href="index-2.html">lorem ipsum dolor</a></li>
                                                        <li><a href="index-2.html">sit amet</a></li>
                                                        <li><a href="index-2.html">adipiscing elit</a></li>
                                                        <li><a href="index-2.html">nunc suscipit</a></li>
                                                        <li><a href="404.html">404 page not found</a></li>
                                                    </ul>
                                                </li>
                                                <li class="sub-menu sub-menu-2"><a href="index-2.html">price list</a>
                                                    <ul>
                                                        <li><a href="index-2.html">lorem ipsum dolor</a></li>
                                                        <li><a href="index-2.html">sit amet</a></li>
                                                        <li><a href="index-2.html">adipiscing elit</a></li>
                                                        <li><a href="index-2.html">nunc suscipit</a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>
                                        <li class="active"><a href="index-3.html">Services</a></li>
                                        <li><a href="index-4.html">Projects</a></li>
                                        <li><a href="index-5.html">Contacts</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="breadcrumbs1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="breadcrumbs1_inner"><a href="index.html">home page</a>&nbsp;&nbsp;&nbsp;>&nbsp;&nbsp;&nbsp;services</div>
                </div>
            </div>
        </div>
    </div>

    <div id="content">
        <div class="container">
            <div class="row">
                <div class="span9">

                    <h1>Services  overview</h1>

                    <ul class="thumbnails thumbnails1">
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="http://via.placeholder.com/140x138" alt=""></figure>
                                <div class="caption">
                                    <h3>Lorem ipsum dones consectetur </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt  dolore magna. Ipsum dolor sit <a href="#"><strong>read more</strong></a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="http://via.placeholder.com/140x138" alt=""></figure>
                                <div class="caption">
                                    <h3>Lorem ipsum dones consectetur </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt  dolore magna. Ipsum dolor sit <a href="#"><strong>read more</strong></a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>

                    <ul class="thumbnails thumbnails1">
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="http://via.placeholder.com/140x138" alt=""></figure>
                                <div class="caption">
                                    <h3>Lorem ipsum dones consectetur </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt  dolore magna. Ipsum dolor sit <a href="#"><strong>read more</strong></a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="http://via.placeholder.com/140x138" alt=""></figure>
                                <div class="caption">
                                    <h3>Lorem ipsum dones consectetur </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt  dolore magna. Ipsum dolor sit <a href="#"><strong>read more</strong></a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>
                    <ul class="thumbnails thumbnails1">
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="http://via.placeholder.com/140x138" alt=""></figure>
                                <div class="caption">
                                    <h3>Lorem ipsum dones consectetur </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt  dolore magna. Ipsum dolor sit <a href="#"><strong>read more</strong></a>
                                    </p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="thumbnail clearfix">
                                <figure class=""><img src="http://via.placeholder.com/140x138" alt=""></figure>
                                <div class="caption">
                                    <h3>Lorem ipsum dones consectetur </h3>
                                    <p>
                                        Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt  dolore magna. Ipsum dolor sit <a href="#"><strong>read more</strong></a>
                                    </p>
                                </div>
                            </div>
                        </li>
                    </ul>





                </div>
                <div class="span3">

                    <h2>services List</h2>

                    <ul class="ul1">
                        <li><a href="#">Quisque nullatibulum libero</a></li>
                        <li><a href="#">Scelerisque eget, malesuada at</a></li>
                        <li><a href="#">Vivamus eget niiam cursus leo</a></li>
                        <li><a href="#">Nulla facilisinean nec eros</a></li>
                        <li><a href="#">Vestibulum ante ipsum</a></li>
                        <li><a href="#">Quisque nullatibulum libero</a></li>
                        <li><a href="#">Scelerisque eget, malesuada at</a></li>
                        <li><a href="#">Vivamus eget niiam cursus leo</a></li>
                        <li><a href="#">Nulla facilisinean nec eros</a></li>
                        <li><a href="#">Vestibulum ante ipsum</a></li>
                    </ul>




                </div>
            </div>
            <div class="row">
                <div class="span12">

                    <div class="line1"></div>

                    <h2>Special offers</h2>

                    <div class="row">
                        <div class="span6">
                            <div class="thumb4">
                                <div class="thumbnail clearfix">
                                    <figure class=""><img src="http://via.placeholder.com/140x138" alt=""></figure>
                                    <div class="caption">
                                        <h3>Lorem ipsum dones consectetur vorte gurti fablo dolore </h3>
                                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt  dolore magna. Ipsum dolor sit ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini  <a href="#"><strong>read more</strong></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="span6">
                            <div class="thumb4">
                                <div class="thumbnail clearfix">
                                    <figure class=""><img src="http://via.placeholder.com/140x138" alt=""></figure>
                                    <div class="caption">
                                        <h3>Lorem ipsum dones consectetur vorte gurti fablo dolore </h3>
                                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt  dolore magna. Ipsum dolor sit ctetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad mini  <a href="#"><strong>read more</strong></a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>



                    <div class="line1"></div>







                </div>
            </div>
        </div>
    </div>



    <div class="slogan1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="slogan1_inner clearfix">
                        <div class="row">
                            <div class="span8">
                                <div class="block1">
                                    <div class="txt1">Have Questions? <span>Call uS: 1 800 123 4567</span></div>
                                    <div class="txt2">Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod tempor incididunt ut</div>
                                </div>
                            </div>
                            <div class="span4">
                                <div class="block2">
                                    <a href="#" class="button1">request free quote</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="follow1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="follow1_wrapper clearfix">
                        <div class="follow1_inner clearfix">
                            <div class="block1">follow us and become our fan on</div>
                            <div class="block2"></div>
                            <div class="block3">
                                <div class="social_wrapper">
                                    <ul class="social clearfix">
                                        <li><a href="#"><img src="images/social_ic1.png"></a></li>
                                        <li><a href="#"><img src="images/social_ic2.png"></a></li>
                                        <li><a href="#"><img src="images/social_ic3.png"></a></li>
                                        <li><a href="#"><img src="images/social_ic4.png"></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="bot1">
        <div class="container">
            <div class="row">
                <div class="span12">
                    <div class="bot1_inner">
                        <div class="row">
                            <div class="span3">

                                <div class="block_title">information</div>

                                <ul class="ul0">
                                    <li><a href="#">Quisque nullatibulum libero</a></li>
                                    <li><a href="#">Scelerisque eget, malesuada at</a></li>
                                    <li><a href="#">Vivamus eget niiam cursus leo</a></li>
                                    <li><a href="#">Nulla facilisinean nec eros</a></li>
                                    <li><a href="#">Vestibulum ante ipsum</a></li>
                                    <li><a href="#">Primis in faucib</a></li>
                                </ul>

                            </div>
                            <div class="span3">

                                <div class="block_title">support</div>

                                <ul class="ul0">
                                    <li><a href="#">Lorem ipsum dolor</a></li>
                                    <li><a href="#">Sit amet consectetue</a></li>
                                    <li><a href="#">Adipiscing elit</a></li>
                                    <li><a href="#">Nunc suscipit</a></li>
                                    <li><a href="#">Suspendisse enim arcu</a></li>
                                </ul>

                            </div>
                            <div class="span3">

                                <div class="block_title">downloads</div>

                                <ul class="ul0">
                                    <li><a href="#">Convallis non cursus sed</a></li>
                                    <li><a href="#">Dignissim et est</a></li>
                                    <li><a href="#">Aenean semper</a></li>
                                    <li><a href="#">Aliquet libero</a></li>
                                    <li><a href="#">Lorem</a></li>
                                </ul>

                            </div>
                            <div class="span3">

                                <div class="block_title">getting started</div>

                                <div class="phone1">
                                    <div class="txt1">Have Questions? Call Us:</div>
                                    <div class="txt2">1 800 123 456</div>
                                </div>

                                <ul class="ul0">
                                    <li><a href="#">Our Location</a></li>
                                    <li><a href="#">Find an Agent</a></li>
                                </ul>

                            </div>
                        </div>
                        <footer>
                            <div class="copyright"><a href="#">Privacy policy</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;<a href="https://gridgum.com/themes/category/free/">Free Bootstrap Themes</a>&nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Copyright © 2017. All rights reserved</div>
                        </footer>
                    </div>
                </div>
            </div>
        </div>
    </div>









</div>
<script type="text/javascript" src="js/bootstrap.js"></script>
</body>
</html>