<!-- Ajouter des question pour les afficher par suites  -->
<!-- des questions les plus posté -->
{% extends ":default:admin.html.twig" %}
{% extends ":articles:index.html.twig" %}
{% block adminName %}

    <a href="{{ path('manager_articles_index') }}">index </a>

{% endblock %}